<div class="container">
	<h2>Edit Customer</h2>
	<form action="/customer/update/<%= customer.id %>" method="POST">
	  <div class="form-group">
	    <label for="name">Name:</label>
	    <input type="text" value="<%= customer.name %>" placeholder="Name" name="name" class="form-control" />
	  </div>
	  <div class="form-group">
	    <label for="email">Email:</label>
	    <input type="text" value="<%= customer.email %>" placeholder="Email" name="email" class="form-control" />
	  </div>
	  <div class="form-group">
	    <label for="state">State:</label>
	    <input type="text" value="<%= customer.state %>" placeholder="State" name="state" class="form-control" />
	  </div>
	  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
	  <input type="submit"  value="Update customer" class="btn btn-default"/>
	</form>
</div>